:root {
  --grey: #50514f;
  --green: #70ffae;
  --yellow: #ffec5c;
  --white: #fdfff7;
  --middle-red: #d7907b;
}

html,
body {
  background-color: var(--white);
}

main {
  margin-top: 80px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
a,
button {
  font-family: 'Futura', 'Open Sans', sans-serif;
  font-weight: normal;
  color: var(--grey);
}

p,
span {
  font-family: 'Futura', 'Open Sans', sans-serif;
  font-weight: normal;
  color: var(--grey);
}

header {
  background-color: var(--white);
}

.outer-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: var(--white);
  box-shadow: 0 -5px 15px -1px rgba(0, 0, 0, 0.2);
}

.nav-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav a {
  color: inherit;
}

.desktop-nav {
  display: none;
}

.mobile-nav {
  position: relative;
  height: 100vh;
  background-color: var(--green);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
}

.hide {
  display: none;
}

/* transform mobile burger to X */

.transform .burger-line1 {
  /* -webkit- adds safari support*/
  -webkit-transform: rotate(-45deg) translate(-5px, 5px);
  transform: rotate(-45deg) translate(-4px, 5px);
}

.transform .burger-line2 {
  opacity: 0;
}

.transform .burger-line3 {
  /* -webkit- adds safari support*/
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.burger {
  width: 25px;
  height: auto;
  padding: 10px 25px 0;
}

.burger-line1,
.burger-line2,
.burger-line3 {
  width: 100%;
  height: 2px;
  margin: 6px 0;
  background-color: black;
  transition: 0.5s;
}

main h1 {
  text-align: center;
}
.introduction,
.countries-section,
.recipes-section {
  padding: 0 50px;
}

.introduction {
  text-align: center;
  color: white;
}

.intro img {
  width: 35%;
  max-width: 150px;
  object-fit: contain;
}

.countries-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countries-section.country-link {
  width: auto;
}

.country-card {
  position: relative;

  width: 100%;
  max-width: 400px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  margin: 15px 0;
}

.card-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.country-card .card-overlay h2 {
  color: var(--white);
  z-index: 10;
}

.country-card.colombia {
  background: url('assets/colombia.jpg') no-repeat;
  background-position: center;
  background-size: cover;
}

.country-card.south-africa {
  background: url('assets/south-africa.jpg') no-repeat;
  background-position: center;
  background-size: cover;
}

.country-card.britain {
  background: url('assets/british.jpg') no-repeat;
  background-position: center;
  background-size: cover;
}

.recipes-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#vegetarian,
#vegan,
#meat {
  max-width: 400px;
  width: 100%;
}

.recipe-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  margin: 15px 0;
}

.recipe-card .card-overlay {
  background-color: rgba(255, 255, 255, 0.6);
}

.recipe-card .card-overlay h2 {
  z-index: 10;
}

.recipe-card.recipe1 {
  background: url('/assets/dish.jpg') no-repeat;
  background-size: cover;
}

.card-label {
  padding: 5px 10px;
  position: absolute;
  bottom: 5px;
  right: 15px;
  border-radius: 5px;
  font-size: 0.8rem;
  z-index: 99;
}

#meat .recipe-card .card-label {
  background-color: var(--middle-red);
  color: var(--white);
}

#vegetarian .recipe-card .card-label {
  background-color: var(--yellow);
  color: var(--grey);
}

#vegan .recipe-card .card-label {
  background-color: var(--green);
  color: var(--grey);
}

.filter-buttons-container {
  border-bottom: 1px solid var(--grey);
  padding-bottom: 30px;
}

button {
  background-color: var(--green);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border: none;
  outline-style: none;
}

#vegetarian-button {
  background-color: var(--yellow);
}

#vegan-button {
  background-color: var(--green);
}

#meat-button {
  background-color: var(--middle-red);
}

button:active {
  background-color: var(--green);
  opacity: 0.9;
}

.footer {
  background-color: var(--white);
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  box-shadow: 0 -1px 30px -15px rgba(0, 0, 0, 0.2);
}

.footer a {
  padding: 0px 20px;
}

/* Desktop View */

@media only screen and (min-width: 830px) {
  .burger {
    display: none;
  }

  .outer-wrapper {
    position: relative;
  }

  .nav-wrapper {
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    width: initial;
    max-width: 1920px;
    align-items: center;
  }

  .nav-wrapper nav a {
    border-radius: 5px;
    padding: 5px;
  }

  .nav-wrapper nav a:hover {
    background-color: var(--grey);
    color: var(--white);
  }

  .desktop-nav {
    display: initial;
  }

  .desktop-nav > a + a {
    margin-left: 15px;
  }

  main {
    margin: 50px auto;
    max-width: 1920px;
  }

  .introduction,
  .countries-section,
  .recipes-section {
    padding: 0 50px;
  }

  .countries-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .countries-section > * + * {
    margin-left: 25px;
  }

  .country-card {
    width: 300px;
    transition: transform 0.3s;
  }

  .country-card:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
  }

  .country-card:hover .card-overlay {
    opacity: 1;
  }

  .filter-buttons-container {
    display: none;
  }

  #vegetarian,
  #vegan,
  #meat {
    max-width: none;
    display: flex;
    justify-content: center;
  }

  #vegetarian > * + *,
  #vegan > * + *,
  #meat > * + * {
    margin-left: 25px;
  }

  .recipe-card {
    width: 300px;
    transition: transform 0.3s;
  }

  .recipe-card:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
  }

  .card-overlay {
    opacity: 0;
    transition: 0.3s;
  }

  .recipe-card:hover .card-overlay {
    opacity: 1;
    transition: 0.3s;
  }
}
